.grid-board {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 640px;
    position: absolute;
    top : 50%;
    left: 50%;
    translate: -50% -50%;
    border: 10px solid rgb(105, 16, 146) ;
    border-radius: 10px;

    user-select: none;
    

    
}

.square {
    position: relative;
    height: 80px;

}

.light-square {
    background-color: rgb(245, 212, 174);
}

.dark-square {
    background-color: rgb(19, 121, 19);
}

.piece {
    cursor: grab; 
}

.piece:active {
    cursor: grabbing; 
}

.dragging-piece {
    position: absolute;
    width: 128px;
    height: 128px;
    pointer-events: none; 
    z-index: 1000;        
    transform: translate(-50%, -50%); 
}

.legal-move-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none; 
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
   
    background-color: rgba(0, 0, 0, 0.2);
}

.legal-capture-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;

    /* Make the circle bigger, but hollow! */
    width: 65px; 
    height: 65px;
    border-radius: 50%;
    background-color: transparent; /* Empty middle */
    
    /* A thick transparent border to create the 'target ring' look */
    border: 7px solid rgba(0, 0, 0, 0.2); 
}

.promotion-menu {
    position: absolute;
    left: 0;
    background-color: white;
    border: 2px solid #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row; 
    z-index: 1000; 
    border-radius: 5px;
    overflow: hidden;
}

.promotion-option {
    width: 80px; /* Adjust to match your square size */
    height: 80px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.promotion-option:hover {
    background-color: lightblue; /* Highlights the piece they hover over */
}